{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-xs-4 col-sm-6 col-md-6">
        <p>
            <a href="{% url 'bug_tracker:bucket_list' %}">
                <span class="glyphicon glyphicon-chevron-left"></span> Return to bucket list
            </a>
        </p>
        <h1>{{ object.title }}</h1>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-6 text-right">
        <a href="#" data-toggle="modal" data-target="#createBugModal">
            <span class="glyphicon glyphicon-plus"></span> Report an issue
        </a>
        {% with bucket=object modal_id='createBugModal' %}
            {% include 'bug_tracker/includes/create_bug_modal.html' %}
        {% endwith %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">
            <span class="glyphicon glyphicon-sort"></span> Re-prioritise bucket
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-right">
        <h2 class="hidden-lg hidden-md">Filter</h2>
        <div class="well well-sm">
            <form>
                <div class="form-group">
                    <label for="id_status">
                        Status
                    </label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            New
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Investigating
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Repairing
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Fixed
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Reopened
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Closed
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_raised_by">
                        Raised by
                    </label>
                    <select name="raised_by" id="id_raised_by" class="form-control">
                        <option>
                            Daniel Davies
                        </option>
                    </select>
                </div>
                <input type="submit" value="Filter" class="btn btn-primary">
            </form>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-left">
        <h2 class="hidden-lg hidden-md">Issues</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="57%">Issue</th>
                        <th width="13%">Status</th>
                        <th width="30%">Last Updated</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    {% for bug in object.bug_set.all %}
                        <tr class="
                        {% if bug.get_status.bug_status.pk == status_constants.fixed %}success{% endif %}
                        ">
                            <td>
                                <a href="{{ bug.get_absolute_url }}">{{ bug.slug }}</a> /
                                <a href="{{ bug.get_absolute_url }}">{{ bug.reference }}</a><br />

                                Raised {{ bug.date_created|timesince }} ago
                            </td>
                            <td>
                                <span data-toggle="tooltip" data-placement="top" title="{{ bug.get_status.bug_status.description }}">
                                    {{ bug.get_status.bug_status.title }}
                                </span>
                            </td>
                            <td>
                                {{ bug.date_updated }}<br />
                                {{ bug.date_updated|timesince }} ago
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
